/* Color Scheme */

.tds-bg-dark{
  --tw-border-opacity: 1;
    background-color: rgba(36, 36, 68,var(--tw-border-opacity));
}

.tds-bg-light{
  --tw-border-opacity: 1;
    background-color: rgba(60, 196, 228,var(--tw-border-opacity));
}

.tds-text-light{
  color: rgb(60, 196, 228);
  border-color: rgb(60, 196, 228);
}

hr.hr-style-one {
  border: 0;
  height: 2px;
  background: #999;
}

.bg-image-map{
  --tw-border-opacity: 1;
  background-color: rgba(60, 196, 228,var(--tw-border-opacity));
  background-image: url('/assets/images/worldmap-dotted.svg');
}

li a{
  margin-right: 1.25rem;
}

.footer{
  margin-right: 3rem;
}

.pxsami{
  padding:0rem  7rem;
}

.ironMan1 {
  padding-top: 0;
  padding-bottom: 21px;
}

.ironMan5{
  display:flex;
  flex-direction: row;
}

.ironMan6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.ironMan7{
  padding-top:64px;
}

.pa{
  padding-left: 6rem;
}

.pa2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-height: 13rem;
}

.div2{
  display: flex;
  flex-direction: column;

}

.pa3{
  margin-bottom: 2rem;
}

.pa4{
  margin-bottom: 1rem;
}

.ironMan8{
  color: white;
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: space-between;
}

.divi3{
  display: flex;
  flex-direction: row;
}
.inputi{
  padding: 0.5rem 8rem;
}

.btni{
  padding: 0.5rem 2rem;
}

.emailBottomText{
  color: grey;
}

.divi4{
  min-height: 25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;  
}

img{
  object-fit: fill;
}

@media screen and (max-width:1030px) {
  .ironMan8{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divi2{
    margin-bottom: 1rem;
  }
}

@media screen and (max-width:1066px){
  .footer{
      margin-right : 1.5rem;

  }
}

@media screen and (max-width:649px){
  .footer{
      margin-right : 0.5rem;

  }
}

@media screen and (max-width:1291px){
  .pxsami{
      padding: 0 5rem;
  }
  .flexsami{
      flex-direction: column;
  }
  
}

@media screen and (max-width:700px){
  .flexsami{
      flex-direction: row;
  }
  .pxsami{
      padding: 0 1.3rem;
  }
  
}

@media screen and (max-width:574px){
  .divi3{
    flex-direction: column;
    justify-content: space-evenly;
  }  
}
@media screen and (max-width:457px) {
  .inputi {
    padding: 0.5rem 4rem;
}
  
}
@media screen and (max-width:560px){
  .pa{
    padding-left: 1rem;
  }
  
}